<div class="background d-flex flex-column">
  <div class="head">
    <h2 class="head-two ml-3">Sighting reported</h2>
  </div>
  <div class="d-flex flex-column align-items-center my-5 p-3 p-md-0">
    <i class="material-icons-round big-green-icon my-3">check</i>
    <h4 class="head-four mb-3">Thank you for reporting this sighting</h4>
    <p>The Banding Office will be in contact once the information has been verified.</p>
    <p>
      Want to report another sighting?
      <button (click)="reset()" class="return-link">Report another sighting</button>
    </p>
    <div class="left-blue-side-box mt-3 p-2 p-md-3 row">
      <div class="col-3 p-3 d-flex align-items-center justify-content-center">
        <img src="../../../assets/icons/downloads-photo.svg" />
      </div>
      <div class="col-9 d-flex flex-column">
        <h5 class="text-bold-15">Have you taken any photos?</h5>
        <p class="text-regular-light-15">
          If you have any images of the bird that may help with identification please email them to
          <a href="mailto:falcon@doc.govt.nz">falcon@doc.govt.nz</a>
        </p>
      </div>
    </div>
  </div>
</div>
