<div class="modal-header">
  <h4 class="modal-title pull-left">RESET PASSWORD</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="card-row-data">
    <p>If you select ‘confirm reset’, an email will be sent with a reset password link.</p>
    <p>Follow the instructions in the email to reset your password.</p>
  </div>
  <div class="modal-footer pl-0 pr-0">
    <button class="card-button" (click)="modalRef.hide()">Cancel</button>
    <button class="blue-button" (click)="onPasswordReset()">Confirm reset password</button>
  </div>
</div>
