@import '../../../palate';

.clear-delete-button {
  cursor: pointer;
  color: $TEXT;
}

.pill {
  cursor: pointer;
  color: $WHITE;
}

.input-flex {
  border: 1px solid $BORDER_GREY;
  border-radius: 3px;
  background: $WHITE;
  color: $TEXT;
  font-size: 16px;
  height: 48px;
  width: 100%;
  padding: 0 1em;
  &::placeholder {
    color: $PLACE_HOLDER;
  }
}
