<input
  (typeaheadOnSelect)="onSelect($event)"
  [(ngModel)]="selected"
  [typeahead]="optionList"
  [typeaheadOptionField]="optionField"
  [typeaheadItemTemplate]="customItemTemplate"
  autocomplete="off"
  data-lpignore="true"
  [placeholder]="placeholder"
  class="input-flex"
  [id]="inputId"
/>
<div class="d-flex flex-direction-row justify-content-between">
  <div id="badge-container">
    <span
      [tooltip]="nextItem[optionField]"
      containerClass="white-tooltip"
      class="badge badge-secondary pill m-1"
      *ngFor="let nextItem of selectedItems; index as index"
      (click)="onRemoveItem(index)"
    >
      {{ truncateDescription(nextItem[optionField]) }}
    </span>
  </div>
  <div id="cross-container">
    <span class="clear-delete-button p-1" (click)="clearItems()" *ngIf="selectedItems.length > 0"
      ><i class="material-icons-round ">close</i></span
    >
  </div>
</div>
