<div class="child-page">
  <div class="heading">Contact us</div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-start">
        <!-- left column -->
        <div class="contact-column">
          <div class="card-heading">Get in touch with the banding office</div>
          <div class="mb-3">Email us: <a href="mailto:bandingoffice@doc.govt.nz" target="_blank">bandingoffice@doc.govt.nz</a></div>
          <div>National Banding Office PO Box 108,<br />Wellington 6140</div>
        </div>

        <!-- right column -->
        <div class="contact-column">
          <div class="card-heading">For Feedback</div>
          <div class="mb-3">Is there something you want to see or maybe<br />you want to suggest something new.</div>
          <div>Email us: <a href="mailto:bandingoffice@doc.govt.nz" target="_blank">bandingoffice@doc.govt.nz</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
