@font-face {
  font-family: 'Clear Sans';
  src: url('assets/fonts/ClearSans.woff2') format('woff2'), url('assets/fonts/ClearSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('assets/fonts/ClearSans-Light.woff2') format('woff2'), url('assets/fonts/ClearSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('assets/fonts/ClearSans-Italic.woff2') format('woff2'), url('assets/fonts/ClearSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('assets/fonts/ClearSans-Medium.woff2') format('woff2'), url('assets/fonts/ClearSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('assets/fonts/ClearSans-Bold.woff2') format('woff2'), url('assets/fonts/ClearSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('assets/fonts/ClearSans-Thin.woff2') format('woff2'), url('assets/fonts/ClearSans-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('assets/fonts/ClearSans-BoldItalic.woff2') format('woff2'), url('assets/fonts/ClearSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('assets/fonts/ClearSans-MediumItalic.woff2') format('woff2'), url('assets/fonts/ClearSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}
