// blues
$ACCENT_BLUE: #00789a;
$HOVER_BLUE: #F5F8FA;
$ACCENT_HOVER: #33819A;
$ROW_HOVER:  #F5F8FA;
$EDIT_BACKGROUND: #F7F9FC;
$BOX_LIGHTBLUE: #CBEAF4;
$BOX_BLUE: #94C9FD;

// greens
$DOC_GREEN: #194036;
$HOVER_GREEN: #47665E;
$LIME_GREEN: #5DB606;
$BOX_GREEN: #D3EBBB;
$DIVIDER_GREEN: #396258;

// greys
$LABEL: #6b7786;
$PLACE_HOLDER: #9ea6b1;
$BOX_GREY: #eaebed;
$BOX_DARKGREY: #D8D5D5;
$BACKGROUND_GREY: #f4f5f7;
$BORDER_GREY: #c0c5cb;
$TABLE_TEXT: #6b7785;
$ICON_GREY: #00000000;
$ROW_DIVIDER: #CAD2DB;
$DISABLED_GREY: #ECEEF2;
$INTERACTIVE_GREY: #F7F7F7;
$SHADOW: #00000027;

// white
$WHITE: #ffffff;

// blacks
$TEXT: #4d4d4d;
$OTHER_TEXT: #333333;
$MODAL_BLACK: #384246;
$EDIT_TEXT: #333333;
$BADGE_TEXT: #404040;
$LIGHT_TEXT:#6B7785;

// oranges
$HOVER_ERROR: #ED7D00;
$ERROR_BACKGROUND: #EA7D10;
$BOX_ORANGE: #F8D8B7;

// yellows
$DOC_GOLD: #F7A828;
$HIDDEN_YELLOW: #E2A709;
$BOX_YELLOW: #F5F2A3;

// reds
$DANGER_RED: #F52929;
$BUTTON_RED: #F8495D;
$HOVER_RED: #FA6274;
$BOX_RED: #FFC9C9;

// purples
$BOX_PURPLE: #F1D9F7;

// screen sizes
$SMALL_SCREEN: 576px;
$MEDIUM_SCREEN: 768px;
$LARGE_SCREEN: 992px;
$EXTRA_LARGE_SCREEN: 1200px;
$EXTRA_EXTRA_LARGE_SCREEN: 1450px;



