p {
  word-break: normal;
  white-space: normal;
  text-align: left;
  color: #4d4d4d;
  font: Regular 17px/24px Clear Sans;
  letter-spacing: 0;

  opacity: 1;
}

.cms-reset {
  white-space: normal;
}
