<div class="d-flex flex-column mx-lg-5">
  <div id="top-info" class="d-flex flex-direction-row justify-content-between w-100 mb-5">
    <div class="d-flex flex-direction-row justify-content-start">
      <div id="back" class="back-button mr-4 align-items-center d-flex">
        <div (click)="goBack()" class="align-items-center d-flex pointer">
          <i class="material-icons-round feedback-icon mr-1">arrow_back</i><span>Back</span>
        </div>
      </div>
      <div class="d-flex flex-column left-border">
        <span *ngIf="isCreate; else editLabel" class="small-top-header">PROJECT</span>
        <span *ngIf="isCreate; else editTitle" class="bold-header">Apply for new project</span>
      </div>
    </div>
  </div>
  <div id="main-content" class="row w-100">
    <div class="col-12 col-lg-6 pr-0">
      <form (ngSubmit)="submitForm()" autocomplete="off" [formGroup]="createProjectForm" class="create-project-form p-1 p-lg-4">
        <h4 *ngIf="isCreate; else editHead" class="head-three mb-3">Fill in your project details</h4>
        <div class="mb-3">
          <label class="input-caption" for="project-name">PROJECT NAME <span class="required">*</span></label>
          <input id="project-name" class="input-flex w-100" formControlName="name" name="name" />
          <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)" class="p-1">
            <div class="error-inline" *ngIf="f.name.errors.required">
              Project name is required
            </div>
            <div class="error-inline" *ngIf="f.name.errors.maxlength">Maximum length is {{ f.name.errors.maxlength.requiredLength }}</div>
            <div class="error-inline" *ngIf="f.name.errors.duplicate">A project with this name already exists</div>
            <div class="error-inline" *ngIf="f.name.errors.pattern">Must contain one non space character</div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-lg-6">
            <label class="input-caption" for="project-manager">PROJECT MANAGER <span class="required">*</span></label>
            <input
              id="project-manager"
              [typeahead]="people"
              typeaheadOptionField="display"
              (typeaheadOnSelect)="updateProjectManagerId($event.item)"
              formControlName="projectManagerName"
              name="projectManagerName"
              class="input-flex w-100"
            />
            <div *ngIf="f.projectManagerName.invalid && f.projectManagerName.touched" class="p-1">
              <div class="error-inline" *ngIf="f.projectManagerName.errors.required">
                Project manager is required
              </div>
              <div class="error-inline" *ngIf="f.projectManagerName.errors.invalidName">
                Select a valid project manager
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <label class="input-caption" for="location">LOCATION</label>
            <input id="location" formControlName="location" name="location" class="input-flex w-100" />
            <div *ngIf="f.location.invalid && (f.location.dirty || f.location.touched)" class="p-1">
              <div class="error-inline" *ngIf="f.location.errors.required"> Location is required </div>
              <div class="error-inline" *ngIf="f.location.errors.maxlength">Maximum length is {{ f.location.errors.maxlength.requiredLength }}</div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-lg-6">
            <label class="input-caption" for="organisation">RELATED ORGANISATION</label>
            <input id="organisation" formControlName="organisation" name="organisation" class="input-flex w-100" />
            <div *ngIf="f.organisation.invalid && (f.organisation.dirty || f.organisation.touched)" class="p-1">
              <div class="error-inline" *ngIf="f.organisation.errors.maxlength"> Maximum length is {{ f.organisation.errors.maxlength.requiredLength }} </div>
            </div>
          </div>
          <div *ngIf="!isCreate" class="col-12 col-lg-6">
            <label class="input-caption" for="organisation">PROJECT STATUS</label>
            <select id="projectStatus" formControlName="projectState" name="projectState" class="input-flex w-100">
              <option [ngValue]="s.id" *ngFor="let s of viewProjectEnums.projectState">{{ s.display }}</option>
            </select>
          </div>
        </div>
        <div class=" mb-3">
          <label class="input-caption">ARE YOU CREATING A DEPARTMENT OF CONVERSATION PROJECT?</label>
          <div class="row pl-3">
            <input id="doc-project" formControlName="isDocProject" name="isDocProject" type="checkbox" />
            <label for="doc-project">DOC project?</label>
          </div>
        </div>
        <h4 class="head-three mb-3 mt-5">Permit info</h4>
        <div class="row mb-3">
          <div class="col-12 col-lg-4">
            <label class="input-caption" for="permit-number">PERMIT NUMBER </label>
            <input id="permit-number" formControlName="permitNumber" name="permitNumber" class="input-flex w-100" />
            <div *ngIf="f.permitNumber.invalid && (f.permitNumber.dirty || f.permitNumber.touched)" class="p-1">
              <div class="error-inline" *ngIf="f.permitNumber.errors.maxlength">
                Maximum length is {{ f.permitNumber.errors.maxlength.requiredLength }}
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label class="input-caption" for="permit-expiry">EXPIRY DATE OF PERMIT </label>
            <input
              id="permit-expiry"
              formControlName="permitExpiryDate"
              name="permitExpiryDate"
              class="input-flex w-100"
              bsDatepicker
              autocomplete="off"
              placement="right"
              placeholder="Choose a date"
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', showWeekNumbers: false }"
            />
          </div>
        </div>
        <h4 class="head-three mb-3 mt-5">Write a description</h4>
        <div class="mb-3">
          <label class="input-caption" for="project-description"
            >WRITE A SHORT DESCRIPTION (100-200 WORDS) <span class="required">*</span></label
          >
          <textarea id="project-description" formControlName="description" name="description" class="flex-textarea "></textarea>
          <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)" class="p-1">
            <div class="error-inline" *ngIf="f.description.errors.maxlength">
              Maximum length is {{ f.description.errors.maxlength.requiredLength }}
            </div>
            <div class="error-inline" *ngIf="f.description.errors.required">
              Description is required
            </div>
          </div>
        </div>
        <h4 class="head-three mb-3 mt-5">Moratorium data</h4>
        <div class="row pl-3">
          <input id="moratorium" formControlName="isMoratorium" name="isMoratorium" type="checkbox" />
          <label for="moratorium">Request this project data to be classified (Under moratorium)</label>
        </div>
        <div *ngIf="moratoriumEndDate.value !== null || isMoratorium.value" class="row mt-3">
          <div class="col-12 col-lg-4">
            <label class="input-caption" for="moratorium">MORATORIUM EXPIRY</label>
            <input
              id="moratorium-expiry"
              formControlName="moratoriumEndDate"
              name="moratoriumEndDate"
              class="input-flex w-100"
              bsDatepicker
              autocomplete="off"
              placement="right"
              placeholder="Choose a date"
              [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', showWeekNumbers: false }"
            />
            <div
              *ngIf="createProjectForm.invalid && createProjectForm.errors && (createProjectForm.dirty || createProjectForm.touched)"
              class="p-1"
            >
              <div class="error-inline" *ngIf="createProjectForm.errors.moratoriumEndDateRequired">
                If data is under moratorium an end date must be provided
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5 ">
          <div class="col-3" *ngIf="!submitting; else submittingButton">
            <button *ngIf="isCreate" [disabled]="submitting" type="submit" class="flex-blue-button ">
              Apply
            </button>
            <button *ngIf="!isCreate" type="submit" class="flex-blue-button ">Update</button>
          </div>
          <div class="col-3">
            <button [disabled]="submitting" (click)="goBack()" type="button" class="flex-clear-button">Cancel</button>
          </div>
        </div>
        <div *ngIf="submissionError.hasError" class="form-error">
          <span *ngIf="submissionError.errorType === 1">Unable to create project, please request assistance</span>
          <span *ngIf="submissionError.errorType === 2">Unable to create project, try again soon</span>
        </div>
      </form>
    </div>
    <div class="col-12 col-lg-6 pl-0">
      <img alt="leg band" class="band-image" src="../../../assets/images/leg-band.png" />
      <div class="row">
        <div class="col-6 pr-0"><img alt="large green bird" class="band-image" src="../../../assets/images/large-bird-green.png" /></div>
        <div class="col-6 pl-0"><img alt="albatrosses" class="band-image" src="../../../assets/images/albatrosses.png" /></div>
      </div>
    </div>
  </div>
</div>
<ng-template #editHead>
  <h4 class="head-three mb-3">Update project details</h4>
</ng-template>
<ng-template #editLabel>
  <span class="small-top-header">EDIT PROJECT</span>
</ng-template>
<ng-template #submittingButton>
  <div class="col-3">
    <app-loading-button></app-loading-button>
  </div>
</ng-template>
<ng-template #editTitle>
  <span class="bold-header">{{ f.name.value }}</span>
</ng-template>
