<div class="container hero">
  <div class="row justify-content-end">
    <h5 class="attribution-text">
      New Zealand falcon/Kārearea: Black Stallion Photography
    </h5>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div>
        <div class="mt-0 page-heading-landing">Bird Banding</div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row justify-content-between">
    <div class="sub-heading-panel sub-heading-panel-left w-50">
      <app-sub-heading-panel [name]="'SubHeadingLeft'">
        <button [routerLink]="['sightings']" class="btn btn-outline-light">Report sighting</button>
      </app-sub-heading-panel>
    </div>

    <div class="sub-heading-panel sub-heading-panel-right w-50">
      <app-sub-heading-panel [name]="'SubHeadingRight'">
        <button (click)="logIn()" class="btn btn-outline-light d-flex align-items-center">
          <i class="material-icons-round text-white mr-2">lock</i>
          Bird Banding Log in
        </button>
      </app-sub-heading-panel>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <app-content-card [name]="'LandingAbout'"></app-content-card>
      <app-content-card [name]="'LandingBandingCertification'"></app-content-card>
    </div>

    <div class="col-md-6">
      <app-content-card [name]="'LandingFact'"></app-content-card>
      <app-content-card [name]="'HelpfulLinks'"></app-content-card>
      <app-content-card [name]="'ContactUs'"></app-content-card>
    </div>
  </div>
</div>
