<div class="d-flex justify-content-between p-5 text align-items-center flex-column flex-md-row">
  <div class="d-flex justify-content-between align-items-center flex-column flex-md-row">
    <a href="https://www.govt.nz">
      <img src="../../assets/images/govt%20logo.svg" class="mr-4" />
      </a>
    <div class="mr-4">
      <a class="nav-link" href="https://www.doc.govt.nz/footer-links/copyright/">Copyright</a>
    </div>
    <div class="mr-4">
      <a class="nav-link" href="https://www.doc.govt.nz/footer-links/privacy-and-security/">Privacy</a>
    </div>
    <div>
      <a class="nav-link" routerLink="/contact" aria-disabled="true" routerLinkActive="active">Contact</a>
    </div>
  </div>
  <div>
    <span class="version-text">Latest Version: </span>
    <span class="version">{{ version }}</span>
  </div>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <div class="d-flex flex-column mr-2">
      <!--
      <div class="align-self-end">Creative Commons 4.0</div>
        --->
    </div>
    <div>
      <!---
      <img src="../../assets/icons/mask-group-1.svg" />
        --->
    </div>
  </div>
</div>
