<div>
  <div class="mx-5">
    <div id="top-info" class="d-flex flex-direction-row justify-content-start flex-wrap">
      <div id="back" (click)="goBack()" class="back-button mr-4 align-items-center d-flex">
        <i class="material-icons-round feedback-icon mr-1">arrow_back</i><span>Back</span>
      </div>
      <div class="d-flex flex-column left-border">
        <span class="small-top-header">Bird Id</span>
        <span class="bold-header">{{ bird.birdDisplayName | uppercase }}</span>
      </div>

      <div class="d-flex row left-border ml-1" *ngIf="person?.isAdmin">
        <div class="d-flex flex-column">
          <span class="small-top-header">Bird Id</span>
          <div class="d-flex flex-row ">
            <span class="bold-header">{{ bird.id }}</span>
            <button (click)="copyBirdIdToClipboard()" class="btn btn-link my-0 py-0 d-flex align-items-center">
              <span class="material-icons-round pr-2">
                filter_none
              </span>
              Copy to clipboard
            </button>
          </div>
        </div>
      </div>
      <div class="d-flex friendly-name-column left-border" *ngIf="canEdit">
        <div class="w-100">
          <span class="small-top-header">
            Friendly Name
            <i class="material-icons-round ml-1 edit-button" (click)="edit()" *ngIf="nameState === 'read-only'">edit</i>
            <span class="little-blue-spinner" *ngIf="nameState === 'saving'"></span>
          </span>
        </div>
        <input size="12" #friendlyNameInput class="friendly-name" [(ngModel)]="friendlyName" [readonly]="nameState !== 'editing'" [ngClass]="nameState" (change)="save()" (blur)="blurName()" />
      </div>
      <div class="d-flex friendly-name-column left-border" *ngIf="!canEdit">
        <div class="w-100">
          <span class="small-top-header">
            Friendly Name
          </span>
        </div>
        <div class="friendly-name">{{bird.friendlyName}}</div>
      </div>
    </div>

    <div id="top-cards" class="row mt-3">
      <div class="col-6">
        <div id="bird-details" class="card card-body top-card">
          <div class="card-heading">Bird details</div>
          <div class="row">
            <div class="col-6">
              <div class="card-row-data">
                <div class="bird-card-label">Common name</div>
                <div class="bird-card-content ">{{ bird.commonName | titlecase }}</div>
              </div>
              <div class="card-row-data">
                <div class="bird-card-label">Age/sex at first marking</div>
                <div class="bird-card-content d-flex flex-row">
                  <span [tooltip]="bird.age.description" containerClass="white-tooltip">{{ bird.age.code }}</span
                  >/<span [tooltip]="bird.sex.description" containerClass="white-tooltip">{{ bird.sex.code }}</span>
                </div>
              </div>
              <div class="card-row-data">
                <div class="bird-card-label">First Seen At</div>
                <div class="bird-card-content">{{ bird.firstSeenAt }}</div>
              </div>
              <div class="card-row-data">
                <div class="bird-card-label">First Recorded</div>
                <div class="bird-card-content ">{{ bird.firstRecorded | date: 'dd MMM yyyy' }}</div>
              </div>
              <div class="card-row-data">
                <div class="bird-card-label">Distance Between First and Last Sightings (km)</div>
                <div class="bird-card-content ">
                  {{ bird.deltaFirstLastSightingKm !== null ? (bird.deltaFirstLastSightingKm | number: '1.1-1') : '-' }}
                </div>
              </div>
              <div class="card-row-data">
                <div class="bird-card-label">Cumulative Distance Between All Sightings (km)</div>
                <div class="bird-card-content ">
                  {{ bird.cumulativeDistanceKm !== null ? (bird.cumulativeDistanceKm | number: '1.1-1') : '-' }}
                </div>
              </div>
              <div class="card-row-data">
                <div class="bird-card-label">
                  Longevity (days)
                </div>
                <div class="bird-card-content ">{{ bird.longevity !== null ? bird.longevity : '-' }}</div>
              </div>
            </div>
            <div class="col-6">
              <div class="card-row-data ">
                <div class="bird-card-label">Scientific name</div>
                <div class="bird-card-content  font-italic">{{ bird.scientificName }}</div>
              </div>
              <div class="card-row-data">
                <div class="bird-card-label">Bird status</div>
                <div class="bird-card-content">
                  {{ bird.inferredBirdStatus }}
                </div>
              </div>
              <div class="card-row-data">
                <div class="bird-card-label">Last Seen At</div>
                <p class="bird-card-content">{{ bird.lastSeenAt }}</p>
              </div>
              <div class="card-row-data">
                <div class="bird-card-label ">Last Recorded</div>
                <div class="bird-card-content ">{{ bird.lastRecorded | date: 'dd MMM yyyy' }}</div>
              </div>
              <div class="card-row-data">
                <div class="bird-card-label ">
                  Distance Between Two Most Recent Sightings (km)
                </div>
                <div class="bird-card-content ">
                  {{ bird.deltaMostRecentSightingKm !== null ? (bird.deltaMostRecentSightingKm | number: '1.1-1') : '-' }}
                </div>
              </div>
              <div class="card-row-data">
                <div class="bird-card-label ">
                  Dispersal Distance (km)
                </div>
                <div class="bird-card-content ">
                  {{ bird.dispersalDistanceKm !== null ? (bird.dispersalDistanceKm | number: '1.1-1') : '-' }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div id="band-config" class="card card-body-table top-card">
          <div class="card-heading pl-4">Banding configuration</div>
          <table class="table">
            <thead class="table-header-text pl-4">
              <tr class="pl-3">
                <th>Leg</th>
                <th>Banding position</th>
                <th>Banding type</th>
                <th>Colour</th>
                <th>Number/Letter ID</th>
              </tr>
            </thead>
            <tbody class="table-row-text pl-4">
              <tr *ngFor="let b of bird.bands">
                <td>{{ b.leg | titlecase }}</td>
                <td>{{ b.bandingPosition | titlecase }}</td>
                <td>{{ b.bandType | titlecase }}</td>
                <td>{{ b.colour | titlecase }}</td>
                <td>{{ b.bandId | uppercase }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="result-table " *ngIf="events">
      <div class="d-flex justify-content-between ">
        <span class="table-top-text ml-3" *ngIf="resultsCount > 0">Showing {{ resultsCount }} records </span>
        <span class="table-top-text ml-3" *ngIf="resultsCount === 0">No results </span>
      </div>
      <div class="  mt-3">
        <table class="table ">
          <thead class="table-header-text">
            <tr>
              <th>Band prefix</th>
              <th>Band #</th>
              <th>Other mark</th>
              <th>Date of event</th>
              <th>Project name</th>
              <th>Bander #</th>
              <th>Event code</th>
              <th>Region</th>
              <th>Date Uploaded</th>
            </tr>
          </thead>
          <tbody class="table-row-text">
            <tr class="pointer" *ngFor="let e of events" [routerLink]="['/view-data', 'event', e.eventId]">
              <td>{{ e.bandPrefix }}</td>
              <td>{{ e.bandNumber }}</td>
              <td>{{ e.colourBand }}</td>
              <td>{{ e.dateOfEvent | date: 'dd/MM/yyyy' }}</td>
              <td>{{ e.projectName }}</td>
              <td>{{ e.banderNumber }}</td>
              <td>{{ e.bbsCode }}</td>
              <td>{{ e.region | truncate: [20, '...'] }}</td>
              <td>{{ e.dateUploaded | date: 'dd/MM/yyyy' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="mt-4 d-flex justify-content-between align-items-center">
        <div class="pagination-text ml-4">
          <label for="limit" class="pr-2">RESULTS PER PAGE</label>
          <select id="limit" name="limit" [(ngModel)]="limitPerPage" #ctrl="ngModel" (change)="onLimitChanged()" class="pagination-input">
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </div>
        <div>
          <button class="big-blue-button m-3" [disabled]="isFirstPage" (click)="prevPage()">Prev</button>
          <button class="big-blue-button m-3" [disabled]="isLastPage" (click)="nextPage()">Next</button>
        </div>
        <div class="justify-content-end d-flex mr-2">
          <button class="scroll-button" (click)="scrollToTop()">
            <i class="material-icons-round">
              arrow_upward
            </i>
          </button>
        </div>
      </div>
    </div>
    <div>
      <app-map *ngIf="events" [redrawSubject]="reloadMap" [events]="events"></app-map>
    </div>
  </div>
</div>
