/*.sub-heading-panel {
  color: white;
  padding: 30px;
}

.sub-heading-panel-left {
  background: #487D2C;
  margin-right: 14px;
}

.sub-heading-panel-right {
  background: #194036;
  margin-left: 14px;
}*/

.sub-heading-panel-heading {
  font-family: 'Zilla Slab', serif;
  font-size: 32px;
}
